.circle {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  /* clip-path: circle(50% at 50% 50%); */
  /* background-color: #4158d0; */
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  border: none;
  outline: none;
  position: relative;
  z-index: 1;
}
.clip {
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  position: relative;
  z-index: 1;
  width: 600px;
  height: 600px;
  left: 225px;
  bottom: 600px;
}

.btn__clic {
  position: relative;
  z-index: 10;
  width: 15rem;
  height: 7rem;
  border: none;
  outline: none;
  top: 20rem;
  right: 185px;
  border-radius: 1rem;
  color: var(--white-2);
  background-color: #05f2c7;
  font-size: 1.5rem;
  font-weight: 900;
  cursor: pointer;
}
.btn__clic:hover {
  background-color: #067373;
  color: #fff;
  font-size: 1.8rem;
  border: 2px solid #fff;
}
.btn__clic:active {
  transform: scale(0.9);
}
